<h2>確認画面</h2>
<%= form_with(model: @reservation, url: reservations_path, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :email %>
  <%= form.hidden_field :content %>

  <p>名前:<%= @reservation.name %></p>
  <p>メールアドレス:<%= @reservation.email %></p>
  <p>一言:<%= @reservation.content %></p>

  </p>


  <%= form.submit "登録する" %>
<% end %>

<%= form_with(model:@reservations, url:reservations_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :email %>
  <%= form.hidden_field :content %>
  <%= form.submit "戻る", name: "back" %>
<% end %>
