<h1>予約一覧</h1>

<table>
  <tr>
    <th>名前</th>
    <th>メールアドレス</th>
    <th>内容</th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.name %></td>
    <td><%= reservation.email %></td>
    <td><%= reservation.content %></td>


    <td><%= link_to 'メールを送信します', mail_reservations_path(reservation_id: reservation.id),class: 'btn btn-info' %></td>
     <td><%= link_to '履歴を削除する',reservation_path(reservation.id), class: 'btn btn-info' , method: :delete %></td>

  </tr>
<% end %>
</table>
