<h2>予約ページ</h2>
<%= form_with(model: @reservation, local: true ) do |form| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= @reservation.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="customer_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="customer_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  <div class="customer_email">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <%= form.hidden_field :customer_id, { value: current_customer.id } %>
<div class="customer_submit">
  <%= form.submit %>
  </div>
<% end %>
<!-- <%= link_to "管理者はこちら", new_admin_session_path,class: 'admin' %> -->
  <!-- </div> -->
